<tr id="delete_tour_<%= tour.id %>">
  <td><%= tour.id %></td>
  <td><%= tour.name %></td>
  <td><%= number_to_currency(tour.price) %></td>
  <td>
    <%= tour.travelling.start_name %>
    -
    <%= tour.travelling.end_name %>
  </td>
  <td>
    <%= l tour.time_start, format: :date %>
    -
    <%= l tour.time_end, format: :date %>
  </td>
  <td><%= tour.max_quantity %></td>
  <td><%= tour.recent_quantity %></td>
  <td></td>
  <td>
    <%= link_to t(".edit"), edit_admin_tour_path(tour), class: "btn btn-warning" %>
  </td>
  <td>
    <%= link_to t(".del"), admin_tour_path(tour), method: :delete, remote: true, class: "btn btn-danger" %>
  </td>
</tr>
