<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <div>
        <%= link_to t(".click"), new_admin_tour_path, class: "btn btn-primary btn-lg" %>
      </div>
      <br>
      <div class="table-responsive">
        <table class="table table-bordered" id="index_tour">
          <thead>
            <tr>
              <th><%= t(".id") %></th>
              <th><%= t(".category") %></th>
              <th><%= t(".price") %></th>
              <th><%= t(".travelling") %></th>
              <th><%= t(".time") %></th>
              <th><%= t(".max") %></th>
              <th><%= t(".recent") %></th>
              <th><%= t(".rating") %></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @tours.flat_map do |t| %>
              <tr>
                <td><%= t.id %></td>
                <td><%= t.name %></td>
                <td><%= number_to_currency(t.price) %></td>
                <td>
                  <%= t.travelling.start_name %>
                  -
                  <%= t.travelling.end_name %>
                </td>
                <td>
                  <%= l t.time_start, format: :date %>
                  -
                  <%= l t.time_end, format: :date %>
                </td>
                <td><%= t.max_quantity %></td>
                <td><%= t.recent_quantity %></td>
                <td></td>
                <td>
                  <%= link_to t(".edit"), edit_admin_tour_path(t) %>
                </td>
                <td>
                  <%= link_to t(".del"), admin_tour_path(t), method: :delete %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate %>
      </div>
    </div>
  </div>
</div>
