<div class="container-tour">
  <div class="container pb-4">
    <div class="tour-hot-container">
      <div class="title-tour-hot">
        <h3 class="hottour"><%= t "hottour" %></h3>
      </div>
      <%= link_to t("xemthem"), "#", class: "float-right btn btn-link" %>
    </div>
    <div class="row">
      <% @hot_tour.each do |h| %>
        <div class="col-md-4">
          <%= link_to "#", class: "card text-left card-tour" do %>
            <div class="card-img-tour">
              <%= image_tag "bg-search.jpg", class: "w-100" %>
              <div class="img-location">
                <i class="material-icons" style="font-size: 16">location_on</i>
                <%= h.name_start %> - <%= h.name_end %>
              </div>
            </div>
            <div class="card-body card-body-tour">
              <h5 class="card-title"><%= h.description %></h5>
            </div>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
