<div class="search-container">
  <div class="search-content">
    <div class="search-title">
      <h3><%= t(".title")%></h3>
      <h5><%= t(".title2")%></h5>
    </div>
    <div class="row">
      <div class="col-md-8">
        <%= search_form_for @q, url: travellings_path do |f| %>
          <div class="search-form">
            <div class="search-location">
              <div class="input-group">
                <%= f.search_field :travelling_location_start_name_cont, placeholder: t(".location_start"), class: "form-control" %>
                <%= f.search_field :travelling_location_end_name_cont, placeholder: t(".location_end"), class: "form-control" %>
                <div class="input-group-append">
                  <%= f.submit "search", class: "btn btn-info pr-4 pl-4" %>
                </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
