<div class="col-md-9 order-sm-first">
  <div class="title-search-tours">
    <%= search_form_for @q, url: travellings_path do |f| %>
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label" id="label_tour"><%= t ".tours" %></label>
        <div class="col-sm-5">
          <div class="input-group">
            <%= f.search_field :travelling_location_start_name_or_travelling_location_end_name_cont, placeholder: "Location...", class: "form-control" %>
            <div class="input-group-append">
              <%= f.submit "search", class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div>
    <% @tours.each do |t1| %>
      <div class="card-tour-page">
        <div class="row">
          <div class="col-md-4">
            <div class="img-card-tour-page">
              <%= image_tag "#{t1.avatar}", class: "w-100" %>
              <div class="img-location"><i class="material-icons">location_on</i>
                <%= t1.travelling.location_start.name %> - <%= t1.travelling.location_end.name %>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="card-title-tour-page">
              <h5 class="title-tour-page"><%= t1.title %></h5>
              <p><%= t(".category") %><%= t1.description %></p>
              <p><%= t(".count") %><%= t1.recent_quantity %></p>
              <p><%= t(".time_start") %><%= (t1.time_start).to_date %></p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="p-2">
              <p class="border-bottom pb-1 pt-1 m-0"><i class="fa fa-clock-o"></i>
                <%= ((t1.time_end).to_date - (t1.time_start).to_date).to_i %> <%= t(".dates") %>
              </p>
              <h5 class="card-price-tour-page">
                <%= number_to_currency(t1.price) %>
              </h5>
              <%= link_to t(".detail"), tour_path(t1), class: "btn btn-outline-primary w-100"%>
            </div>
          </div>
        </div>
      </div>
    <%end %>
  </div>
  <%= paginate @tours %>
</div>
