<% provide :title, t(".tour_details") %>
<div class="pb-4 pt-4">
  <div class="container">
    <div class="title-name-tour-detail">
      <h2><%= @tour_details.title %></h2>
    </div>
    <div class="row">
      <div class="col-md-8 order-md-first">
        <%= render "tour_details" %>
        <div class="border mt-4">
          <% if logged_in? %>
          <div class="container-comment border-bottom">
            <h4><%= t(".your_review") %></h4>
            <%= render "reviews/review_form" %>
          </div>
          <% end %>
          <div class="scrollbar">
            <h2 style="text-align: center"><%= t(".count",count: @reviews.count) %></h2>
            <%= render @reviews %>
          </div>
          <%= will_paginate @reviews %>
        </div>
      </div>
      <div class="col-md-4 order-sm-first order-first">
        <% if logged_in? %>
          <div class="container-book-tour sticky-top">
            <h3 class="price-tour-detail">
              <%= t(".price")%><%= number_to_currency(@tour_details.price) %>
            </h3>
            <h5 class="price-tour-detail">
              <%= t(".quantity")%><%= @tour_details.max_quantity - @tour_details.recent_quantity %>
            </h5>
            <br>
            <div class="form-group">
              <% if check_booking_quantity @tour_details.max_quantity, @tour_details.recent_quantity %>
                <% if check_time_start @tour_details.time_start.to_date %>
                  <%= link_to t(".cofirm"), new_booking_path(tour_id: @tour_details.id),
                    class: "btn btn-outline-light w-100" %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
