<p><%= @resource.email %>!</p>
<p><%= t(".note1") %></p>
<p><%= link_to t(".change"), edit_password_url(@resource, reset_password_token: @token) %></p>
<p><%= t(".note2") %></p>
<p><%= t(".note3") %></p>
