<tr id="delete_user_<%= user.id %>">
  <td><%= user.id %></td>
  <td><%= user.email %></td>
  <td><%= user.phonenumber %></td>
  <td>
    <%= link_to t(".del"), admin_user_path(user), method: :delete, remote: true, class: "btn btn-danger" %>
  </td>
  <th>
    <%= link_to t(".details"), admin_user_path(user), class: "btn btn-info" %>
  </th>
</tr>
