<%= form_for @review do |f| %>
  <div class="form-group row">
    <%= f.label :rating, class: 'col-sm-2 form-control-label' %>
    <div class="col-sm-6" id='review-rating-form'></div>
  </div>
  <div class="form-group">
    <label><%= t(".review") %></label>&nbsp;
    <span style="color: red">*</span>
    <%= f.text_area :content,class:"form-control form-control-fix",rows: "3" %>
    <%= hidden_field_tag :id, @tour_details.id %>
  </div>
  <%= f.submit "send", class: "btn btn-secondary" %>
  <span class="picture">
    <%= f.file_field :picture, accept: t(".format") %>
  </span>
<% end %>
