<%= form_for @review do |f| %>
  <!-- Rating Stars Box -->
  <div class="rating-stars text-center">
    <ul id="stars">
      <li class="star" title="Poor" data-value="1" id = "rating_1">
        <i class="fa fa-star fa-fw"></i>
      </li>
      <li class="star" title="Fair" data-value="2" id = "rating_2">
        <i class="fa fa-star fa-fw"></i>
      </li>
      <li class="star" title="Good" data-value="3" id = "rating_3">
        <i class="fa fa-star fa-fw"></i>
      </li>
      <li class="star" title="Excellent" data-value="4" id = "rating_4">
        <i class="fa fa-star fa-fw"></i>
      </li>
      <li class="star" title="WOW!!!" data-value="5" id = "rating_5">
        <i class="fa fa-star fa-fw"></i>
      </li>
    </ul>
  </div>
  <div class="form-group">
    <label><%= t(".review") %></label>&nbsp;
    <span style="color: red">*</span>
    <%= f.text_area :content,class:"form-control form-control-fix",rows: "3" %>
    <%= hidden_field_tag :id, @tour_details.id %>
  </div>
  <%= f.submit "send", class: "btn btn-secondary" %>
  <span class="picture">
    <%= f.file_field :picture, accept: "image/jpeg,image/gif,image/png" %>
  </span>
<% end %>
