<div class="media pt-2 pl-4 pr-4">
  <img src="https://png.icons8.com/ios/40/777777/user-male-circle-filled.png"
  class="material-icons mr-3 mt-1 rounded-circle" height="48x" width="48px" />
  <div class="media-body">
    <h5>
      <%= review.user.name %>&nbsp;&nbsp;&nbsp;<small><i>
        <%= t(".post") %>
        <%= time_ago_in_words(review.created_at) %>
        <%= t(".ago")%></i></small>
    </h5>
    <p><%= review.content %></p>
    <div class="review-rating" data-score=<%= review.rating %>></div>
    <br>
    <% if logged_in? %>
      <% pre_like = pre_like(review.id) %>
      <div id="follow_form">
        <% if pre_like %>
          <%= button_to t(".unlike"), unlike_path(like_id: pre_like),
            method: :delete, class: "button button-like" %>
        <% else %>
          <%= button_to t(".like"), likes_path(review_id: review),
            method: :post, class: "button button-like" %>
        <% end %>
      </div>
    <% end %>
    <p>
      <%= review.likes.count %>
      <%= (review.likes.count) == Settings.likes.count_like ? t(".like") : t(".likes")%>
    </p>
    <%= hidden_field_tag :id, @tour_details.id %>
    <%= image_tag "#{review.picture}", class: "w-100" %>
    <% if current_user?(review.user) %>
      <%= link_to "delete", review, method: :delete,
        data: { confirm: "You sure?" } %>
    <% end %>
  </div>
</div>
