<div class="media pt-2 pl-4 pr-4" id="review<%= review.id %>">
  <img src="https://png.icons8.com/ios/40/777777/user-male-circle-filled.png"
  class="material-icons mr-3 mt-1 rounded-circle" height="48x" width="48px" />
  <div class="media-body">
    <h5>
      <%= review.user.name %>&nbsp;&nbsp;&nbsp;
      <small>
        <i class="review-rating" data-score=<%= review.rating %>></i>
        <span id ="count_like_<%= review.id %>" style="font-size: 14px">
          <%= review.likes.count %>
        </span>
        <span id ="setting_like_<%= review.id %>" style="font-size: 14px">
          <%= (review.likes.count) == Settings.likes.count_like ? t(".like") : t(".likes")%>
        </span>
      </small>
    </h5>
    <p><%= review.content %></p>
    <div>
      <span class="like_review_<%= review.id %>">
        <% if logged_in? %>
            <%= render partial: "likes/like", locals: {review_id: review.id} %>
        <%end %>
      </span>
      <span>
        <% if current_user?(review.user) %>
          <%= link_to "delete", review, method: :delete, remote: true,
            data: { confirm: "You sure?" } %>
        <% end %>
      </span>
      <span>
        <%= t(".post") %>
        <%= time_ago_in_words(review.created_at) %>
        <%= t(".ago")%>
      </span>
    </div>
    <%= image_tag "#{review.picture}", class: "w-100" %>
  </div>
</div>
