<%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" %>
<div class="container-fluid container-footer-about">
  <div class="container container-about">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="content-about">
          <div class="about-text">
            <h6><%= t(".about") %></h6>
            <p class="text-justify">
              <%= t(".noidung") %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="content-about">
          <div class="about-text">
            <h6><%= t(".lienketlq") %></h6>
            <ul class="ul-footer">
              <li><%= t(".dieukhoan") %></li>
              <li><%= t(".quyche") %></li>
              <li><%= t(".cauhoi") %></li>
              <li><%= t(".khuyenmai") %></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="content-about">
          <div class="about-text">
            <h6><%= t(".lienhe") %></h6>
            <p><%= t(".tuvan") %></p>
            <span class="hotline"><%= t(".sdttuvan") %></span>
            <p><%= t(".gopy") %></p>
            <span class="hotline"><%= t(".sdtgopy") %></span>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-6">
        <div class="content-about">
          <div class="about-text">
            <h6><%= t(".vanphong") %></h6>
            <p><i class="material-icons"><%= t(".location_on") %></i><%= t(".vp1") %></p>
            <p><i class="material-icons"><%= t(".location_on") %></i><%= t(".vp2") %></p>
            <p><i class="material-icons"><%= t(".location_on") %></i><%= t(".vp3") %></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="content-about">
          <div class="about-text text-left">
            <h6><%= t(".lkkhac") %></h6>
            <p><i class="material-icons"><%= t(".email1") %></i><%= t(".email") %></p>
            <p><i class="fa fa-facebook-official"></i><%= t(".fb") %></p>
            <p><i class="fa fa-youtube-play"></i><%= t(".youtube") %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
