<nav class="bg-blue-tiki navbar-custom">
  <div class="navbar navbar-expand-md bg-blue-tiki navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">
    <%= link_to image_tag("logo.png", class: "img", alt: "S Travel"), "/" %>
    </a>
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to t(".tours"), "/index", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t(".reviews"), "#", class: "nav-link" %>
        </li>
      </ul>
    </div>
    <div class="nav-user">
      <% if logged_in? %>
        <div class="nav-user">
          <div class="dropdown">
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
            <%= current_user.name %>
          </button>
            <div class="dropdown-content">
              <%= link_to t(".inf_tours"), user_path(current_user) %>
              <%= link_to t(".logout"), logout_path, method: :delete %>
            </div>
          </div>
        </div>
      <% else %>
        <%= link_to t(".login"), login_path, class: "text-white" %>
        <%= link_to image_tag("contacts.png", size: "28", alt: "S Travel"), login_path %>
      <% end %>
    </div>
  </div>
</nav>
