<nav class="bg-dark navbar-custom">
  <div class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">
    <%= link_to image_tag("logo.png", class: "img", alt: "S Travel"), "/" %>
    </a>
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <%= t(".dstour") %>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <%= t(".baiviet") %>
          </a>
        </li>
      </ul>
    </div>
    <div class="nav-user">
      <% if logged_in? %>
        <li class="dropdown">
          <%= link_to @user.name, "#", class: "text-secondary" %> <b class="caret"></b>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to t(".pf"), current_user, class: "text-secondary" %>
            </li>
            <li>
            <%= link_to t(".st"), edit_user_path(current_user), class: "text-secondary" %>
            </li>
            <li>
              <%= link_to t(".logout"), logout_path, method: :delete %>
            </li>
          </ul>
        </li>
      <% else %>
        <li>
          <%= link_to t(".dnhap"), login_path, class: "text-secondary" %>
          <%= link_to image_tag("contacts.png", size: "28", alt: "S Travel"), login_path %>
        </li>
      <% end %>
    </div>
  </div>
</nav>
